
@{
    ViewData["Title"] = "Index";
}

<div class="container my-2">
    <h3 class="fs-3 text-center text-warning">SignalR</h3>
    <div class="d-flex justify-content-center align-items-center bg-light">
        <div class="p-5">
            <p class="fs-4 text-black-50">ASP.NET Core SignalR is an open-source library that simplifies adding real-time web functionality to apps. Real-time web functionality enables server-side code to push content to clients instantly.</p>
            <h3>Good candidates for SignalR:</h3>
            <ul class="fs-6 text-black-50">
                <li>Apps that require high frequency updates from the server. Examples are gaming, social networks, voting, auction, maps, and GPS apps.</li>
                <li>Dashboards and monitoring apps. Examples include company dashboards, instant sales updates, or travel alerts.</li>
                <li>Collaborative apps. Whiteboard apps and team meeting software are examples of collaborative apps.</li>
                <li>Apps that require notifications. Social networks, email, chat, games, travel alerts, and many other apps use notifications.</li>
               
            </ul>

        </div>
        <div>
            <img src="~/Pictures/signalR.png" />
        </div>
    </div>
</div>

